/* estructura Flexbox */
*                               {
                                box-sizing: border-box;
                                margin: 0 auto;
								font-family: 'Fira Sans', sans-serif;
                                }
								
header							{ 
								display:flex;
								background-color: white ;
								color: #fff;
								
								width: 100%;
                                
								position: fixed;
                                align-items: center;
                                flex-flow: row nowrap;
        
								}
                                
								
.logoweb						{
								width:250px;
								}	

                                .logo{
                                    background: rgb(255, 255, 255);
                                    flex:1 1 auto;
                                    height: 80%;
                                    align-items: center;
                                }                                
                                
#menu                           {
                                width:100%;
                                }
                                
h2                              {
                                background-color: #0B2B33;
                                padding-top: 10px;
                                padding-bottom: 10px;
                                color:white;
                                font-weight: lighter;
                                }                                
						
                            
.contenedor                     {
                                height: auto;
                                width: 100%;
                                background-color: white;
                                }
								
#intro 							{
								width: 200%;
								padding: 2px;
								margin: 0%;
								width: 100%;
								}								
                            
.item                           {
								background-color: white;
								width: 100%;
								height: auto;
								min-width: 500px;
								text-align: center; 
                                padding-top: 5px;
                                }

.dogs                           {
                                padding-top: 100px !important;
                                }
                            
.div-content                    {
                                display: flex;
                                padding: 2%;
                                text-align: justify;
                                }
                            
.div-content div                {
								width:50%; 
                                height: auto;
                                padding: 10px;
                                flex:50%;         
                                }
                            
.caucasico img					{
								display:flex;
								width: 200px;
                                height: auto;
								/* max-width: 200px; */
                                /* max-height: 200px; */
								}

.caucasico:hover  			    { 
								/* display: flex;
								width:100%;
								height:100%; */
                                animation-name: SeleccionImg;
								}    
                                
                                
.caucasico                      {
                                transition-property: all;
                                -webkit-transition:all .9s ease; /* Safari y Chrome */
                                -moz-transition:all .9s ease; /* Firefox */
                                -o-transition:all .9s ease; /* IE 9 */
                                -ms-transition:all .9s ease; /* Opera */
                                width:100%;
                                padding: 20px;
                                background-color: white;

                                }

.caucasico:hover                {
                                -webkit-transform:scale(1.25);
                                -moz-transform:scale(1.25);
                                -ms-transform:scale(1.25);
                                -o-transform:scale(1.25);
                                transform:scale(1.25);
                                background-color: #3c5c64;
                                }
                                
.caucasico                      {
                                width:300px;
                                
                                overflow:hidden;
                                }                                

                             
                                
#criadero i                     {
                                padding-bottom:10px;
                                }    

#criadero                       {
                                text-align: center;
                                }

.galery                         {
                                display: flex;
                                flex-wrap: wrap;
                                padding: 5px;
                                }

.column                         {
                                flex: 25%;
                                padding: 5px;
                                }

.column img                     {
                                margin-top: 5px;
                                }

.imagen                         {
                                width: 100%;
                                }
                                    
.intro                          {
                                padding-top: 10px;
                                }                                
/********************************************************/
nav 							{
								text-align: center;
								}

#titulocriadero					{
								text-align: center;
								}
								
#menu a                         {
                                text-decoration:none;
                                color:inherit;
                                font-size:14px;
                                } 
                            
#menu li                        {
                                display:inline-block;
                                width:15%;
                                padding:5px 10px;
                                background-color:#0B2B33;
                                border:1px solid #0B2B33;
                                text-align:center;
                                color:#fff;
                                min-width: 80px;
                                }
                            
#menu li:hover                  {
                                background-color:#fff;
                                color:#000;
                                }

                                

/************** estilos de API ***************************/
.app                            {
                                height: 100%;
                                width: 100%;
                                display: flex;
                                flex-direction: column;
                                }

#dog-img                        {
                                flex:1;
                                background-color: rgb(82, 82, 82);
                                width:90%;
                                height: 500px;
                                
                                overflow: hidden;
                                }

.img-ind                        {
                                width: 100%;
                                height: 100%;
                                background-repeat: no-repeat;
                                background-size: contain;
                                background-position: center center;
                                opacity: 0;
                                transform: scale(1);
                                transition: all 0.9s ease-out;
                                }     
                                
.img-ind:nth-last-child(2)      {
                                opacity: 1;
                                transform: scale(1.08);
                                }


/****************** RESPONSIVE **************************/
@media all and (min-width: 600px) and (max-width: 800px){
    section{
        flex-direction: row;
    }
    .menu{
        flex-direction: column;
        height: auto;
    }

    header {flex-flow: column nowrap;}
    .logo{
        flex:1 1 auto;
        width: 40%;
        height: 80%;
        align-items: center;
    }

    nav{
        flex:1 1 auto;
        height: 80%;
        width: 100%;
    }

    nav ul {
        padding: 2px;
    }

    .menu li                        {
        display:inline-block;
        width:18%;
        padding:5px 5px;
        text-align:center;
        align-items: center;
        }
    .contacto-mapa                    {
        display: flex;
        flex-direction: column;
        padding: 2%;
        text-align: justify;
        }

     
    iframe    {width:auto;}

    .dogs                           {
        padding-top: 120px !important;
        }
    .caucasico img					{
        display:flex;
        width: 100px;
        height: auto;

        }

    .column{
        flex:50%;
    }
}
@media all and (max-width: 600px){
    .section{
        flex-direction: row;
    }
    .menu{
        flex-direction: column;
        height: auto;
        width: 100%;
    }

    header {flex-flow: column nowrap;}
    .logo{
        flex:1 1 auto;
        width: 40%;
        height: 80%;
        align-items: center;
    }

    .nav{
        flex:1 1 auto;
        height: 80%;
        width: 100%;
    }

    .nav ul {
        padding: 2px;
    }

      
    iframe    {width:auto;}

    .menu li                        {
        display:inline-block;
        width:18%;
        padding:5px 5px;
        text-align:center;
        align-items: center;
        color:#fff;
        }

        .dogs                           {
            padding-top: 120px !important;
            }
    .contacto-mapa                    {
        display: flex;
        flex-direction: column;
        padding: 2%;
        text-align: justify;
        }
    .caucasico img					{
        display:flex;
        width: 80px;
        height: auto;

        }

    .column{
        flex:100%;
    }

}                                