/* estructura Flexbox */
*                               {
                                box-sizing: border-box;
                                margin: 0 auto;
								font-family: 'Fira Sans', sans-serif;
                                }
								
header							{ 
								display:block;
								background-color: white ;
								color: #fff;
								height: 100px ;
								width: 100%;
								position: fixed;
								}
								
.logoweb						{
								height: 100%;
								}								
						
                            
.contenedor                     {
                                height: auto;
                                width: 100%;
                                background-color: white;
                                }
								
#intro 							{
								width: 200%;
								padding: 2px;
								margin: 0%;
								width: 100%;
								}								
                            
.item                           {
								background-color: white;
								width: 100%;
								height: auto;
								min-width: 500px;
								text-align: center; 
                                padding-top: 5px;
                                }
                            
.div-content                    {
                                display: flex;
                                padding: 2%;
                                text-align: justify;
                                }
                            
.div-content div                {
								width:50%; 
                                height: auto;
                                padding: 10px;
                                flex:50%;         
                                }
                            
.caucasico img					{
								display:flex;
								width: 200px;
								height: 200px;
								/* max-width: 200px; */
                                /* max-height: 200px; */
								}

.caucasico img:hover  			{ 
								display: flex;
								width:100%;
								height:100%;
								}                              
                                          
/********************************************************/
nav 							{
								text-align: center;
								}

#titulocriadero					{
								text-align: center;
								}
								
#menu a                         {
                                text-decoration:none;
                                color:inherit;
                                font-size:14px;
                                } 
                            
#menu li                        {
                                display:inline-block;
                                width:10%;
                                padding:5px 10px;
                                background-color:#0B2B33;
                                border:1px solid #0B2B33;
                                text-align:center;
                                color:#fff;
                                }
                            
#menu li:hover                  {
                                background-color:#fff;
                                color:#000;
                                }

/************** estilos de API ***************************/
.app                            {
                                height: 100%;
                                width: 100%;
                                display: flex;
                                flex-direction: column;
                                }

#dog-img                        {
                                flex:1;
                                background-color: rgb(82, 82, 82);
                                width:500px;
                                height: 500px;
                                }

.img-ind                        {
                                width: 100%;
                                height: 100%;
                                background-repeat: no-repeat;
                                background-size: contain;
                                background-position: center center;
                                }                                